/*AJUSTES GENERALES*/
:root {
  --fuentePrincipal: "Quicksand", sans-serif;
  --khaki: #b6a297ff;
  --auburn: #a43c3bff;
  --night: #101012ff;
  --black-olive: #373830ff;
  --chestnut: #884b39ff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--night);
}

h1,
h2,
h3 {
  font-weight: 900;
}

li {
  list-style-type: none;
}

a {
  color: var(--khaki);
  text-decoration: none;
  font-weight: 900;
  font-size: 1.6rem;
  padding: 1rem;
}

p {
  font-size: 1.8rem;
}

a,
p {
  font-family: var(--fuentePrincipal);
}

a:hover {
  background-color: var(--khaki);
  color: var(--night);
  border-radius: 2vh;
  transition: background-color 1s, color 0.5s;
  -webkit-transition: background-color 1s, color 0.5s;
  -moz-transition: background-color 1s, color 0.5s;
  -ms-transition: background-color 1s, color 0.5s;
  -o-transition: background-color 1s, color 0.5s;
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
}

.navegation {
  display: flex;
  justify-content: space-between;
  max-height: 7vh;
  padding: 2rem;
  margin: 1vh;
  background-color: var(--black-olive);
  border-radius: 2vh;
}

.nav__left {
  display: flex;
  align-items: center;
}

.nav__Right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.contenedor1__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1.3fr 0.7fr 1fr;
  grid-template-rows: 0.5fr 0.3fr 0.5fr 0.2fr;
  background-color: var(--night);

  height: 90vh;
}

.child1 {
  background-color: var(--black-olive);

  border-radius: 2vh;
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
}

.child1:nth-child(1) {
  margin-left: 1rem;
  grid-column: 1/2;
  grid-row: -5/-3;
}

.child1:nth-child(2) {
  grid-column: 2/3;
  grid-row: -5/-3;
  background-image: url(../img/client.jpg);
  background-position: center center;
  background-size: cover;
}

.child1:nth-child(3) {
  margin-right: 1rem;
  grid-column: 3/4;
  grid-row: -5/-2;
}

.child1:nth-child(4) {
  grid-column: 1/2fr;
  grid-row: -3/-1;
  margin-left: 1rem;
}

.child1:nth-child(5) {
  grid-column: 2/3;
  grid-row: -3/-1;
}

.child1:nth-child(6) {
  grid-column: 3/4;
  margin-right: 1rem;
}
